<button mat-fab color="warn" class="home-btn" aria-label="Example icon button with a home icon" (click)="ui.changePage(pageName.HOME)">
    <mat-icon >home</mat-icon>
</button>
<div class="pantry-header">
    <button mat-stroked-button color="accent" (click)="ui.changePage(pageName.ITEM_ADD)"><mat-icon>add</mat-icon>Add Item</button>
</div>

<div class="pantry-container">
    <button mat-stroked-button color="warn" (click)="onAllPantryItems()">All Pantry Items</button>
    <div class="items-wrapper">
        <div class="pantry-items-container">
            <ng-container *ngFor="let item of items">
                <div class="item-card" *ngIf="showAllItems">
                    <div class="item-img" (click)="onSelectItem(item)" >
                        <img src="{{item.image}}" alt="item image" height="150" >
                        <h4>{{item.name}}</h4>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div> 
    
<!-- Pantry items by category -->
<div class="category-container">
    <div class="category-wrapper">
        <h2>Category Items</h2>
        <mat-form-field appearance="fill">
        <mat-label>Select category</mat-label>
        <mat-select [(ngModel)]="dropdownSelection" (click)="hideAllItems()" >
            <mat-option ></mat-option>
            <mat-option *ngFor="let category of ui.foodGroups" [value]="category">
            {{category}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="pantry-category-container" >
    <div class="pantry-items-container">
        <ng-container *ngFor="let item of items">
            <div class="item-card" *ngIf="item.category === dropdownSelection">
                <div class="item-img" (click)="onSelectItem(item)">
                    <img src="{{item.image}}" alt="item image" height="150" >
                    <h4>{{item.name}}</h4>
                </div>
            </div>
        </ng-container>
    </div>
</div>
 
