<button mat-fab color="warn" class="home-btn" aria-label="Example icon button with a home icon" (click)="ui.changePage(pageName.HOME)">
    <mat-icon >home</mat-icon>
</button>
<div class="pantry-header">
    <button mat-stroked-button color="accent" (click)="ui.changePage(pageName.ITEM_ADD)"><mat-icon>add</mat-icon>Add Item</button>
</div>

<div class="pantry-container">
    <div class="items-wrapper">
        <h2>All Pantry Items</h2>
        <div class="pantry-items-container" *ngIf="itemService.items$ | async as pantryItems">
            <ng-container *ngFor="let item of pantryItems">
                <div class="item-card">
                    <div class="item-img" (click)="onSelectItem(item)">
                        <img src="{{item.image}}" alt="item image" height="150" >
                    </div>
                    <h6>{{item.name}}</h6>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="category-container">
    <div class="category-wrapper">
        <h2>Category Items</h2>
        <div class="pantry-category-container" *ngIf="items">
            <ng-container *ngFor="let category of ui.foodGroups">
                <div class="category-card">
                    <h6>{{category}}</h6>
                </div>
            </ng-container>
        </div>
    </div>
</div>