<!-- OLD NAV HEADER -->
<!-- <button (click)="test()">TEST</button>
<div class="home-header-container">
    <div class="btn-wrapper">
        <button type="button" id="logout-btn" mat-stroked-button color="primary" (click)="onLogout()">Log Out</button>
    </div>

    <div class="profile-wrapper">
        <div class="profile-image">
            <button mat-fab color="accent" aria-label="Example icon button with a home icon" (click)="ui.changePage(pageName.PROFILE);">
                <mat-icon >account_circle</mat-icon>
            </button>
        </div>
    </div>
</div> -->

<!-- NEW NAV HEADER -->
<div class="navigation-container">
    <div class="navigation">
        <ul>
            <li class="list" [ngClass]="{'active': activeIndex === 1}" (click)="makeActive(1)">
                <div class="contain">
                    <span class="icon">
                        <mat-icon class="m-icon" (click)="onLogout()">exit_to_app</mat-icon>
                    </span>
                    <span class="text">Logout</span>
                </div>
                
            </li>
            <li class="list" [ngClass]="{'active': activeIndex === 2}" (click)="makeActive(2)">
                <div class="contain">
                    <span class="icon">
                        <mat-icon class="m-icon" (click)="ui.changePage(pageName.PANTRY)">fastfood</mat-icon>
                    </span>
                    <span class="text">Pantry</span>
                </div>
            </li>
            <li class="list" [ngClass]="{'active': activeIndex === 3}" (click)="makeActive(3)">
                <div class="contain">
                    <span class="icon">
                        <mat-icon class="m-icon" (click)="onViewRecipes()">library_books</mat-icon>
                    </span>
                    <span class="text">Recipes</span>
                </div>
            </li>
            <li class="list" [ngClass]="{'active': activeIndex === 4}" (click)="makeActive(4)">
                <div class="contain">
                    <span class="icon">
                        <mat-icon class="m-icon" (click)="ui.changePage(pageName.PROFILE)">account_circle</mat-icon>
                    </span>
                    <span class="text">Profile</span>
                </div>
            </li>
            <div class="indication"></div>
        </ul>
    </div>
</div>


<!-- OLD PANTRY -->
<!-- <div class="pantry-container">
    <div class="pantry-wrapper">
        <div class="icon-logos-container">
            <button class="btn-main"  mat-stroked-button color="accent">
                <mat-icon class="b-ico">crop_square</mat-icon>
            </button>
            <button class="btn-main"  mat-stroked-button color="warn">
                <mat-icon>details</mat-icon>
            </button>
            <button class="btn-main"  mat-stroked-button color="accent">
                <mat-icon>change_history</mat-icon>
            </button>
            <button class="btn-main"  mat-stroked-button color="warn">
                <mat-icon>radio_button_unchecked</mat-icon>
            </button>
        </div>
        <div class="pantry-icon">
            <mat-icon> fastfood</mat-icon>
        <h3 (click)="ui.changePage(pageName.PANTRY)">Pantry</h3>
        </div>
    </div>
</div> -->


<div class="recipes-container">
    <!-- OLD RECIPES -->
    <!-- <div class="recipe-wrapper">
        <button type="button" id="logout-btn" mat-stroked-button color="accent" (click)="onViewRecipes()">Recipesss</button>
    </div> -->
    <h2 id="o-recipes" *ngIf="heroRecipes.length">Other Recipes</h2>
    <div class="hero-recipes">
        
        <div class="hero-recipe" *ngFor="let recipe of heroRecipes">
            <div class="hero-recipe-image">
                <img src="{{recipe.image}}" alt="recipe image" height="350" (click)="onSelectRecipe(recipe.id!)">
            </div>
            <div class="hero-recipe-info">
                <h4>{{recipe.name}}</h4>
            </div>
        </div>
    </div>

</div>
