@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Solitreo&display=swap');

.pantry-info-container {
    border-radius: 5px;
    padding: 9%;
    display: flex;
    justify-content: space-evenly;
}

.recipe-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3ab01288;
    padding: 7%;
    text-align: right;
}

.pantry-info-container h2, h4, .recipe-info-container h2, h4 {
    font-family: 'Solitreo', cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 10px;
}

.nums {
    font-size: 2.1rem;
    font-family:'Courgette', cursive;
    color: #f2f225;
}

.navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    margin: 0 10px;
    z-index: 2;
}

.navigation ul li .contain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul li .icon {
    position: relative;
    display: block;
    line-height: 80px;
    font-size: 3.5rem;
    text-align: center;
    transition: 0.4s;
    color: #414140;
}

.m-icon {
    transform: scale(1.7);
}

.m-icon:hover {
    cursor: pointer;
}

.navigation ul li.active .icon {
    transform: translateY(-55px);
}

.navigation ul li .text {
    position: absolute;
    color: #414140;
    font-weight: 600;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active .contain .text{
    opacity: 1;
    transform: translateY(20px);
}

.indication {
    position: absolute;
    top: -45%;
    width: 85px;
    height: 85px;
    background: #f2f225;
    border-radius: 50%;
    border: 4px solid #414140;
    transition: 0.5s;
}
/* circle edges */
.indication::before{
    content: '';
    position: absolute;
    top: 48.5%;
    left: -25px;
    width: 24px;
    height: 28px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -15px 0 0 #414140;
}
.indication::after{
    content: '';
    position: absolute;
    top: 48.5%;
    right: -25px;
    width: 24px;
    height: 28px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -15px 0 0 #414140;
}

.navigation ul li:nth-child(1).active ~ .indication{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indication{
    transform: translateX(calc(70px * 1.2));
}
.navigation ul li:nth-child(3).active ~ .indication{
    transform: translateX(calc(70px * 2.5));
}
.navigation ul li:nth-child(4).active ~ .indication{
    transform: translateX(calc(70px * 3.7));
}

.disabled {
    pointer-events: none;
}
/* OLD HEADER */

.home-header-container {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

#logout-btn {
    color: rgb(86, 172, 211);
    margin-left: 5%;
}

.pantry-wrapper, .recipe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.hero-recipes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
}

.hero-recipe-image:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h3:hover {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.pantry-icon{
    display: flex;
    align-items: center;
    color: rgb(198, 118, 73);
}
.pantry-wrapper {
    display: flex;
    flex-direction: column;
}

.recipe-wrapper {
    display: flex;
    flex-direction: column;
}

.btn-main{
    pointer-events: none;
}

#o-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.p-logo {
    display: flex;
    justify-content: flex-end;
}

.r-logo {
    display: flex;
    justify-content: flex-start;
}