<!-- NEW NAV HEADER -->
<div class="navigation-container">
    <div class="navigation">
        <ul>
            <li class="list" [ngClass]="{'active': activeIndex === 1}" (click)="makeActive(1)">
                <div class="contain">
                    <span class="icon">
                        <mat-icon class="m-icon" (click)="onLogout()">exit_to_app</mat-icon>
                    </span>
                    <span class="text">Logout</span>
                </div>
                
            </li>
            <li class="list" [ngClass]="{'active': activeIndex === 2}" (click)="makeActive(2)">
                <div class="contain">
                    <span class="icon">
                        <mat-icon class="m-icon" (click)="ui.changePage(pageName.PANTRY)">fastfood</mat-icon>
                    </span>
                    <span class="text">Pantry</span>
                </div>
            </li>
            <li class="list" [ngClass]="{'active': activeIndex === 3}" (click)="makeActive(3)">
                <div class="contain">
                    <span class="icon">
                        <mat-icon class="m-icon" (click)="onViewRecipes()">library_books</mat-icon>
                    </span>
                    <span class="text">Recipes</span>
                </div>
            </li>
            <li class="list" [ngClass]="{'active': activeIndex === 4}" (click)="makeActive(4)">
                <div class="contain">
                    <span class="icon">
                        <mat-icon class="m-icon" (click)="ui.changePage(pageName.PROFILE)">account_circle</mat-icon>
                    </span>
                    <span class="text">Profile</span>
                </div>
            </li>
            <div class="indication"></div>
        </ul>
    </div>
</div>

<!-- Pantry info -->
<div class="pantry-info-container">
    <div class="info">
        <h2>Welcome Family {{currentFamilyName}},</h2>
        <h4>The number of items in your</h4>
        <h4>pantry is: <span class="nums">{{numOfItems}}</span></h4>
    </div>
    
    <div class="p-logo">
        <img src="../../../assets/IMG/pantry-vg.png" alt="logo" height="250">
    </div>
</div>

<!-- Recipe Info -->
<div class="recipe-info-container">
    <div class="r-logo">
        <img src="../../../assets/IMG/Recipes-ng.png" alt="logo" height="250">
    </div>
    <div class="info">
        <h2>There are <span class="nums">{{recipeService.numOfRecipes}}</span> tasty, delicious</h2>
        <h4>pantry recipes for you and your family!</h4>
    </div>
</div>


<div class="recipes-container">

    <h2 id="o-recipes" *ngIf="heroRecipes.length">Get inspired by other family Recipes!</h2>
    <div class="hero-recipes">
        
        <div class="hero-recipe" *ngFor="let recipe of heroRecipes">
            <div class="hero-recipe-image">
                <img src="{{recipe.image}}" alt="recipe image" height="350" (click)="onSelectRecipe(recipe.id!)">
            </div>
            <div class="hero-recipe-info">
                <h4>{{recipe.name}}</h4>
            </div>
        </div>
    </div>

</div>
