.home-header-container {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

#logout-btn {
    color: rgb(86, 172, 211);
    margin-left: 5%;
}

.pantry-wrapper, .recipe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.hero-recipes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
}

.hero-recipe-image:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h3:hover {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.pantry-icon{
    display: flex;
    align-items: center;
    color: rgb(198, 118, 73);
}
.pantry-wrapper {
    display: flex;
    flex-direction: column;
}

.recipe-wrapper {
    display: flex;
    flex-direction: column;
}

.btn-main{
    pointer-events: none;
}