<div class="home-header-container">
    <div class="btn-wrapper">
        <button type="button" id="logout-btn" mat-stroked-button color="primary" (click)="ui.changePage(pageName.START_UP); ui.onLogout()">Log Out</button>
    </div>

    <div class="profile-wrapper">
        <div class="profile-image">
            <button mat-fab color="accent" aria-label="Example icon button with a home icon" (click)="ui.changePage(pageName.PROFILE)">
                <mat-icon >account_circle</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="pantry-container">
    
    <div class="pantry-wrapper">
        <div class="icon-logos-container">
            <button class="btn-main"  mat-stroked-button color="accent">
                <mat-icon class="b-ico">crop_square</mat-icon>
            </button>
            <button class="btn-main"  mat-stroked-button color="warn">
                <mat-icon>details</mat-icon>
            </button>
            <button class="btn-main"  mat-stroked-button color="accent">
                <mat-icon>change_history</mat-icon>
            </button>
            <button class="btn-main"  mat-stroked-button color="warn">
                <mat-icon>radio_button_unchecked</mat-icon>
            </button>
        </div>
        <div class="pantry-icon">
            <mat-icon> fastfood</mat-icon>
        <h3 (click)="ui.changePage(pageName.PANTRY)">Pantry</h3>
        </div>
    </div>
</div>


<div class="recipes-container">
    <div class="recipe-wrapper">
        <!-- <h4>Family Recipes</h4> -->
        <button type="button" id="logout-btn" mat-stroked-button color="accent" (click)="onViewRecipes()">View All Recipes!</button>
    </div>
    <div class="hero-recipes">
        <div class="hero-recipe" *ngFor="let recipe of heroRecipes">
            <div class="hero-recipe-image">
                <img src="{{recipe.image}}" alt="recipe image" height="350" (click)="onSelectRecipe(recipe.id!)">
            </div>
            <div class="hero-recipe-info">
                <h4>{{recipe.name}}</h4>
            </div>
        </div>
    </div>

</div>
