<app-start-up *ngIf="ui.pageName === pageName.START_UP"></app-start-up>
<app-login *ngIf="ui.pageName === pageName.LOGIN"></app-login>
<app-signup *ngIf="ui.pageName === pageName.SIGNUP"></app-signup>
<app-home *ngIf="ui.pageName === pageName.HOME"></app-home>
<app-pantry *ngIf="ui.pageName === pageName.PANTRY"></app-pantry>
<app-item-add *ngIf="ui.pageName === pageName.ITEM_ADD"></app-item-add>
<app-item-view *ngIf="ui.pageName === pageName.ITEM_VIEW"></app-item-view>
<app-recipe *ngIf="ui.pageName === pageName.RECIPE"></app-recipe>
<app-recipe-add *ngIf="ui.pageName === pageName.RECIPE_ADD"></app-recipe-add>
<app-ingredient-add *ngIf="ui.pageName === pageName.INGREDIENT_ADD"></app-ingredient-add>
<app-recipe-view *ngIf="ui.pageName === pageName.RECIPE_VIEW"></app-recipe-view>
<app-profile *ngIf="ui.pageName === pageName.PROFILE"></app-profile>