<div class="ingredients-bulletPoints">
    <!-- Conditionals for display readability -->
    <ng-container *ngFor="let ingredients of addedIngredients">
        <ul>
            <li>{{ingredients.quantity ? ingredients.quantity : '' }} {{ingredients.weight ? ingredients.weight : ''}} {{ ingredients.weight ? ingredients.metric + ' of' : '' }}   {{ingredients.name}}</li>
        </ul>

    </ng-container>
</div>

<div class="ingredient-add-container">
    <div class="ingredient">
        <input type="text" name="ingredient" id="i-name" placeholder="ingredient" [(ngModel)]="newIngredient.name">
        <input type="number" name="amount" id="i-amount" placeholder="amount" [(ngModel)]="newIngredient.weight">
        <div class="amount-selection-container">
            <div class="metric-wrapper" *ngIf="!slider">
                <label for="metricUnit">Select Unit
                    <select name="metric" [(ngModel)]="newIngredient.metric">
                        <option *ngFor="let unit of metricUnits" [value]="unit">{{unit}}</option>
                    </select>
                </label>
            </div>
            <mat-slide-toggle [(ngModel)]="slider">Slide for {{slider ? 'Units' : 'Quantity'}} instead </mat-slide-toggle>
            <div class="qty-wrapper" *ngIf="slider">
                <input type="number" placeholder="Enter Quantity" [(ngModel)]="newIngredient.quantity">
            </div>
        </div>
    </div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <button (click)="addIngredient()">Add Ingredient</button>
</div>
<button (click)="goBackClick()">Done</button>
