<div class="input-container">
    <div class="input-wrapper">
        <!-- inputs -->
        <div class="input-bx">
            <span>Add New Family</span>
        <input [(ngModel)]="newAccount.familyName" type="text" name="family-name" id="family-signup" placeholder="Family name" >
        </div>
        
        <div class="input-bx">
            <span>Email</span>
            <input type="email" name="email" id="email-signup" placeholder="email" [(ngModel)]="newAccount.email">
        </div>
        
        <div class="input-bx">
            <span>password</span>
        <input [(ngModel)]="newAccount.password" type="password" name="password" id="password-signup" placeholder="password" >
        </div>

        <div class="input-bx">
            <p>Already have an account? <button id="signup-button"
            (click)="ui.changePage(pageName.LOGIN)">Log In</button>
            </p>
        </div>
    </div>
</div>