.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.input-wrapper {
    width: 50%;
}
.input-wrapper h2 {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(176, 239, 189);
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(158, 245, 177);
    display: inline-block;
    letter-spacing: 1px;
}
.input-bx span {
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.input-bx input {
    width: 100%;
    border: 1px solid rgb(158, 245, 177);
    border-radius: 30px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background: transparent;
    padding: 10px 20px;
    letter-spacing: 1px;
}

.input-bx input::placeholder {
    color: rgba(182, 226, 21, 0.526);
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 5px;
}
.input-bx input[type="submit"] {
    background: #188c29;
    width: 100%;
    margin-top: 20px;
    color: aquamarine;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.input-bx input[type="submit"]:hover {
    background: #4fb85e;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    transition: 0.5s;
}

#signup-button {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    cursor: pointer;
    padding-top: 20px;
    font-size: 1.1rem;
}

#signup-button:hover {
    color: rgb(15, 123, 185);
    text-decoration: underline;
  }