<div class="recipeView-header">
    <!-- removes Id state - localStorage -->
    <button mat-stroked-button color="warn" (click)="goBackClick()"> <mat-icon >arrow_back</mat-icon></button>
</div>

<div class="recipe-container" *ngIf="recipeService.recipe$ | async as recipe">
    <div class="recipe-view-heading">
        <button mat-stroked-button color="warn" (click)="deleteRecipe(recipe)">
            <mat-icon >delete</mat-icon>
        </button>
        <button mat-stroked-button color="warn" (click)="toggleEditRecipeIcons()">Edit Recipe</button>
        <button mat-stroked-button color="warn" (click)="onCookRecipe()">Cook Recipe!</button>
    </div>
    
    <!-- Recipe Name-->
    <div class="name-edit-container">
        <mat-icon id="edit-recipe-n" (click)="toggleRecipeName()" *ngIf="showEditIcon">edit</mat-icon><span *ngIf="showEditIcon">Edit Name</span>
        <h1
        id="recipe-name"
        *ngIf="!showEditRecipeName"
        >{{recipe.name}}</h1>
    </div>

     <!--Inputbox for Recipe Name -->
    <mat-form-field class="example-full-width" *ngIf="showEditRecipeName">
        <mat-label>Enter new recipe name</mat-label>
        <input matInput placeholder="Ex. Garlic Linguine" value="" [(ngModel)]="recipeNewValue">
    </mat-form-field>
    <div class="name-edit-btns">
        <button mat-stroked-button color="accent" *ngIf="showEditRecipeName" (click)="onEditRecipeName(recipe)">Save</button>
        <button mat-stroked-button color="warn" *ngIf="showEditRecipeName" (click)="toggleRecipeName()">Cancel</button> 
    </div>
    

    <!-- Recipe Image -->
    <div class="image-container">
        <mat-icon id="edit-recipe-img" (click)="toggleRecipeImage()" *ngIf="showEditIcon">edit</mat-icon> <span *ngIf="showEditIcon">Edit Image</span>
        <img src="{{recipe.image}}" height="350" alt="Image of {{recipe.name}}" >

        <mat-form-field class="example-full-width" *ngIf="showEditRecipeImage">
            <mat-label>Enter new image URL</mat-label>
            <input type="url" name="recipe" id="r-image" matInput placeholder="Ex. https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" value="" [(ngModel)]="recipeNewValue">
        </mat-form-field>
    </div>
    <div class="name-edit-btns">
        <button mat-stroked-button color="accent" *ngIf="showEditRecipeImage" (click)="onEditRecipeImage(recipe)">Save</button>
        <button mat-stroked-button color="warn" *ngIf="showEditRecipeImage" (click)="toggleRecipeImage()">Cancel</button> 
    </div>

    <!-- Recipe Ingredients-->
    <div class="ingredients-container">
        <ng-container *ngIf="recipeService.ingredients$ | async as recipeIngredients">
            <ng-container *ngFor="let ingredient of recipeIngredients">
                <ng-container *ngIf="currentRecipeId === ingredient.recipes.id">
                    <ng-container *ngIf="!edit" >
                        <mat-icon  id="edit-ingredient" (click)="showEditIngredient(ingredient.id!)" *ngIf="showEditIcon">edit</mat-icon>
                        <ul>
                            <li><mat-icon (click)="onDeleteIngredientById(ingredient.id!)" *ngIf="showEditIcon">remove_circle</mat-icon>
                                {{ingredient.quantity ? ingredient.quantity : '' }} {{ingredient.weight ? ingredient.weight : ''}} {{ ingredient.weight ? ingredient.metric + ' of' : '' }}   {{ingredient.name}}
                            </li>
                        </ul>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
        <!-- UPDATE ingredient inputs -->
    <div class="update-inputs">
        <div class="ingredient" *ngIf="edit">
            <mat-form-field class="example-form-field">
                <mat-label>Ingredient Name</mat-label>
                <input matInput type="text" [(ngModel)]="updatedIngredient.name" >
                <button *ngIf="updatedIngredient.name" matSuffix mat-icon-button aria-label="Clear" (click)="updatedIngredient.name=''">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="example-form-field" *ngIf="!slider">
                <mat-label>Ingredient Weight</mat-label>
                <input matInput type="number" [(ngModel)]="updatedIngredient.weight" >
                <button *ngIf="updatedIngredient.weight" matSuffix mat-icon-button aria-label="Clear" (click)="updatedIngredient.weight=0">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        
            <!-- Selecting metric section -->
            <div class="amount-selection-container">
                <div class="metric-wrapper" *ngIf="!slider">
                    <label for="metricUnit">Select Unit
                        <select name="metric" [(ngModel)]="updatedIngredient.metric">
                            <option *ngFor="let unit of metricUnits" [value]="unit">{{unit}}</option>
                        </select>
                    </label>
                </div>
                <mat-slide-toggle [(ngModel)]="slider">Slide for {{slider ? 'Units' : 'Quantity'}} instead </mat-slide-toggle>
                
                <div class="qty-wrapper" *ngIf="slider">
                    <mat-form-field class="example-form-field">
                        <mat-label>Enter Quantity</mat-label>
                        <input matInput type="number" [(ngModel)]="updatedIngredient.quantity" >
                        <button *ngIf="updatedIngredient.quantity" matSuffix mat-icon-button aria-label="Clear" (click)="updatedIngredient.quantity=0">
                        <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <button mat-stroked-button color="warn" (click)="onUpdateIngredients()">Update</button>
            <button mat-stroked-button color="accent" (click)="hideEdit()">cancel</button>
        </div>
    </div>

    <!-- Display Instructions -->
    <div class="instructions-container">
        <div class="intruction-title">
            <mat-icon id="edit-recipe-ins" (click)="toggleRecipeInstructions()" *ngIf="showEditIcon">edit</mat-icon><small *ngIf="showEditIcon">Edit Instructions</small>
            <h2>Instructions</h2>
        </div>
        
        <div id="r-instructions-steps" *ngIf="!showEditRecipeInstructions">
            <p *ngFor="let paragraph of instructionParagraphs(recipe.instructions)"> {{paragraph}}</p> 
        </div>
    </div>
    <!-- onEdit Inputbox for Recipe Name -->
    <mat-form-field class="example-full-width instructions-form"  *ngIf="showEditRecipeInstructions">
        <mat-label>Write Instructions for this recipe</mat-label>
        <textarea id="instructions-input" type="text" matInput placeholder="Ex. Step 1: Add Water. Step 2: Add salt." [(ngModel)]="recipeNewValue"></textarea>
      </mat-form-field>
        
      <div class="name-edit-btns">
        <button mat-stroked-button color="accent" *ngIf="showEditRecipeInstructions" (click)="onEditRecipeInstructions(recipe)">Save</button>
        <button mat-stroked-button color="warn" *ngIf="showEditRecipeInstructions" (click)="toggleRecipeInstructions()">Cancel</button>
      </div>
</div>

